

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
</head>
<body>
<main>
    <h1>Create Movie</h1>
    <form th:object="${formData}"
          th:action="@{/addMovie}"
          method="post"> 
        <div>
            <label for="movieName">Given name</label>
            <input id="movieName" type="text"
                   th:field="*{movieName}"> 
            <p th:if="${#fields.hasErrors('movieName')}"
               th:text="${#strings.listJoin(#fields.errors('movieName'), ', ')}"></p> 
        </div>
        <div>
            <label for="runtime">Run time</label>
            <input id="runtime" type="text"
                   th:field="*{runtime}">
            <p th:if="${#fields.hasErrors('runtime')}"
               th:text="${#strings.listJoin(#fields.errors('runtime'), ', ')}"></p>
        </div>
        <div>
            <label for="starOne">Lead Actor/Actress</label>
            <input id="starOne" type="text"
                   th:field="*{starOne}"> 
            <p th:if="${#fields.hasErrors('starOne')}"
               th:text="${#strings.listJoin(#fields.errors('starOne'), ', ')}"></p> 
        </div>
        <div>
            <label for="genre">Given name</label>
            <input id="genre" type="text"
                   th:field="*{genre}"> 
            <p th:if="${#fields.hasErrors('genre')}"
               th:text="${#strings.listJoin(#fields.errors('genre'), ', ')}"></p> 
        </div>
        <button type="submit">Create user</button>
    </form>
</main>

</body>
</html>

