body { 
    padding: 5% 5% 0 5%;
    height: 100%;
    background-color: #292a2d;
    font-family: Verdana;
    color: white;
}

.break {
    border-color: white;
}

#movieList {
    border-color: black;
    box-shadow: 0px 0px 20px 0px black !important;
}
#moviePoster {
    padding-bottom: 1em;
}
.btnHome {
    padding-bottom: 1em;
}
.tableHead {
    color: black;
}

.tableBody {
    background-color: #222222;
    color: white;
}

.tableBody tr:hover {
	background-color: #fa4144; 
}

.buttonLink {
    text-decoration: none;
    padding:  10px 10px 10px 10px;
    
}
.buttonLink2{
	text-decoration: none;
	padding: 5% 5% 0 5%;
	
}
#errorMsg {
    text-align: center;
    padding-bottom: 25px;
}

#return {
    text-align: center;
    padding: 0 5% 0 5%;
}

#poster {
    text-align: center;
}

#heading th {
    min-width: 150px;
}

.container {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

